<html>
    <head></head>
    <body>
        {{form_start(form, {"attr" : {"class" : "form-horizontal"}})}}

        <!--Champ sexe-->
        {{ form_label(form.sex, 'Sexe') }}
        {{form_widget(form.sex)}}

        <!--Champ date de naissance-->
        {{ form_label(form.birthDate, 'Date de naissance') }}
        {{form_widget(form.birthDate)}}
    </body>
</html>