{% block header %}
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="../../../public/css/style.css"></script>
    
    <title>CardioScore</title>
</head>
<body class="grey darken-3">
<nav class="red">
    <div class="container">
        <div class="nav-wrapper center">
            <ul class="hide-on-med-and-down">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">À propos</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
{% endblock %}

<div class="card hoverable active">
    {{ form_start(formUser, {'attr': {'id': 'form_an'}}) }}
    <div class="card-title center"><h5 class="red-text">Calcul de votre risque de maladie cardiovasculaire</h5></div>
    <div class="card-content">
        <div class="row s12">
            <div class="input-field s6">
                {{ form_widget(formUser.sex, {'attr': {'style': 'display: block'}}) }}
            </div>
            <div class="input-field s6">
                {{ form_widget(formUser.birthDate) }}
            </div>
        </div>

        <div class="row" s12>
            <div class="input-field s4">
                {{ form_label(formUser.height) }}
                {{ form_widget(formUser.height) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.weight) }}
                {{ form_widget(formUser.weight) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.waist) }}
                {{ form_widget(formUser.waist) }}
            </div>
        </div>

        <div class="row" s12>
            <div class="input-field s4">
                {{ form_widget(formUser.smoker, {'attr': {'style': 'display: block'}}) }}
            </div>
            <div class="input-field s4">
                {{ form_widget(formUser.diabetes, {'attr': {'style': 'display: block'}}) }}
            </div>
            <!--Pour plus tard : à afficher uniquement si la personne déclare avoir été diabétique-->
            <div class="input-field s4">
                {{ form_widget(formUser.analysis[0].treated_diabetes) }}
            </div>
        </div>
        <div class="row s12">
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].total_cholesterol) }}
                {{ form_widget(formUser.analysis[0].total_cholesterol) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].hdl_cholesterol) }}
                {{ form_widget(formUser.analysis[0].hdl_cholesterol) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].systolic_bp) }}
                {{ form_widget(formUser.analysis[0].systolic_bp) }}
            </div>
        </div>
        <div class="row s12">
            <div class="input-field s4">
                {{ form_widget(formUser.analysis[0].treated_blood_pressure) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].ratioOmega) }}
                {{ form_widget(formUser.analysis[0].ratioOmega) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].indexO3) }}
                {{ form_widget(formUser.analysis[0].indexO3) }}
            </div>
        </div>
        <div class="row s12">
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].aaEpa) }}
                {{ form_widget(formUser.analysis[0].aaEpa) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].ratioFd) }}
                {{ form_widget(formUser.analysis[0].ratioFd) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].ratioWaistWeight) }}
                {{ form_widget(formUser.analysis[0].ratioWaistWeight) }}
            </div>
        </div>
        <div class="row s12">
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].ubiote_fb) }}
                {{ form_widget(formUser.analysis[0].ubiote_fb) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].ubiote_diversity) }}
                {{ form_widget(formUser.analysis[0].ubiote_diversity) }}
            </div>
            <div class="input-field s4">
                {{ form_label(formUser.analysis[0].ubiote_richness) }}
                {{ form_widget(formUser.analysis[0].ubiote_richness) }}
            </div>
        </div>

    </div>
    <div class="card-action center">
        <button class="btn waves-effect waves-light red" type="reset"> <i class="prefix material-icons">cancel</i>Réinitialisation</button>
        <button class="btn waves-effect waves-light red" id="submit" type="submit"> <i class="prefix material-icons">send</i>Calculer</button>
    </div>
    {# {{ form_end(formUser) }} #}
</div>

{% block footer %}
</div>
<script src="../../../public/js/init.js"></script>
<script>
$.fn.serializeObject = function()
{
   var o = {};
   var a = this.serializeArray();
   console.log(a);
   $.each(a, function() {
       if (o[this.name]) {
           if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
           }
           o[this.name].push(this.value || '');
       } else {
           o[this.name] = this.value || '';
       }
   });
   return o;
};

$('#form_an').on('submit', function(event) {
    event.preventDefault();
    var form = $(this).serialize();
    console.log(form);
    $.ajax({
       type: "POST",
       url: "{{path('ajax_calc')}}",
       data: form,
       success: function(data) {
            console.log(data);
        }
    });
});
</script>
</body>
</html>
{% endblock %}